@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema de registro de entradas en biblioteca</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent posuere sapien non dui volutpat varius. Duis maximus vehicula imperdiet. Vivamus vel cursus risus, a tincidunt justo. Nam sed scelerisque neque, et convallis quam. Phasellus id efficitur augue. Etiam gravida efficitur ligula id vestibulum. Morbi id dolor eget libero suscipit interdum. In ac orci tristique, elementum nibh a, sollicitudin mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos..</p>
</div>

<div class="container">
    <div class="row">
        <label>Ingresa tu matrícula para iniciar</label>
        <input type="text" class="form-control" placeholder="p r o x i m a m e n t e :v"/>
        <input type="submit" class="btn btn-primary btn-success" value="Ingresar"/>
    </div>
</div>